{% extends 'base.html.twig' %}

{% block title %}Accueil - Ocean Association{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}

{% block body %}
    <div class="container" style="background-color: #F0F0F0">
        <!-- Header avec logo -->
        <div class="text-center" id="header" style="background-color: #4682B4; height: 150px; width: 100%; padding-top: 20px;">
            <img src="{{ asset('images/logo_Ocean.jpg') }}" alt="Logo Ocean" width="156" height="128.5">
        </div>

        <!-- Menu de navigation -->
        <ul class="nav">
            <li class="nav-item"><a style="color: grey" href="#">Menu</a></li>
            <li class="nav-item"><a href="{{ path('calendar') }}">Calendrier</a></li>
            <li class="nav-item"><a href="{{ path('catalogue') }}">Catalogue</a></li>
            <li class="nav-item"><a href="{{ path('more') }}">Plus</a></li>
        </ul>

        <!-- Contenu principal -->
        <div class="content mt-5">
            <h1>Bienvenue sur AstroPrêt</h1>
            <p>Gestion des prêts et événements de l'association.</p>

            <div class="row">
                <div class="col-md-6">
                    <svg width="600" height="400" xmlns="http://www.w3.org/2000/svg">
                        <rect width="500" height="300" x="10" y="10" style="fill:white;stroke:grey;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
                        <text x="235" y="30" font-family="Calibri" font-size="16" fill="#000000"> Prêts </text>
                    </svg>
                </div>
                <div class="col-md-6">
                    <svg width="600" height="400" xmlns="http://www.w3.org/2000/svg">
                        <rect width="500" height="300" x="10" y="10" style="fill:white;stroke:grey;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
                        <text x="235" y="30" font-family="Calibri" font-size="16" fill="#000000"> Calendrier </text>
                    </svg>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-md-6">
                    <svg width="600" height="400" xmlns="http://www.w3.org/2000/svg">
                        <rect width="500" height="300" x="10" y="10" style="fill:white;stroke:grey;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
                        <text x="235" y="30" font-family="Calibri" font-size="16" fill="#000000"> Essai </text>
                    </svg>
                </div>
                <div class="col-md-6">
                    <svg width="600" height="400" xmlns="http://www.w3.org/2000/svg">
                        <rect width="500" height="300" x="10" y="10" style="fill:white;stroke:grey;stroke-width:5;fill-opacity:0.1;stroke-opacity:0.9" />
                        <text x="235" y="30" font-family="Calibri" font-size="16" fill="#000000"> Essai </text>
                    </svg>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <footer class="mt-5">
            <h5><a href="{{ path('references') }}">Références</a></h5>
            <h5><a href="{{ path('user_guide') }}">Guide de l'Utilisateur</a></h5>
            <h4>BTS CIEL 2024-2025</h4>
            <h6>BACCAM Mickael, DEFRANCE Sylvain, GRARADJI Eddy, TALIBY Osama</h6>
            <h6>Lycée Polyvalent Édouard Branly - Lyon 5</h6>
            <p>&copy; 2025 AstroPret Project</p>
            <a href="{{ path('rgpd') }}">Plus de détails</a><br>
            <p>Les données utilisées sur le site ne sont conservées que par les gérants du site.</p>
        </footer>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endblock %}
